<div class="cv-wrapper">
  <div class="project-card">
    <div class="project-content">
      <div class="project-badge">Publications</div>

      <div class="project-description">
        A complete and updated list of publications is available in my
        <a href="/cv/">extended CV</a>, in the
        <a href="https://iris.uniroma1.it/simple-search?query=%22nicola.scattarreggia%40uniroma1.it%22" target="_blank">Sapienza IRIS catalogue</a>,
        and on my
        <a href="https://www.scopus.com/authid/detail.uri?authorId=57208499731" target="_blank">Scopus</a>
        and
        <a href="https://scholar.google.com/citations?user=NlrRB1sAAAAJ&hl=it" target="_blank">Google Scholar</a>
        profiles.
      </div>
    </div>
  </div>
</div>
